<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Polarship</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />

</head>

<body class="is-preload homepage">

    <!-- Header -->
    <div id="fixed-menu; header-wrapper;">
        <header id="header">

            <!-- Logo -->
            <div id="logo">
                <a href="./main"><img src="/images/logo_pholarship.png" style="width:15%; margin:5px 0 5px 30px;" alt="" /></a>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="./introduction">소개</a></li>
                    <li><a href="./boardList">응원하기</a></li>
                    <li><a href="./boardList2">장학금</a></li>
                    <li><a href="./boardList3">기부내역</a></li>
                    <li><a href="./loginForm">로그인</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-content">
        <!-- Main -->
        <div class="container">
            <div align="center">
                <img src="/images/banner03.png" style="width:100%" alt="" id="banner" />
                <input type="button" value="" onClick="banner3()">
                <input type="button" value="" onClick="banner3()">
                <input type="button" value="" onClick="banner3()">
                <input type="button" value="" onClick="banner3()">
            </div>
            <h3>장학금</h3>
            <div class="row" align="center">
                <div class="col-8 col-12-medium">
                    <img src="/images/scholar01.png" style="width:100%" alt="" />
                </div>
                <div class="col-4 col-12-medium">
                    <img src="/images/scholar02.png" style="width:100%; margin:0 0 14px 0;" alt="" />
                    <img src="/images/scholar03.png" style="width:100%; margin:14px 0 0 0;" alt="" />
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-wrapper">
            <footer id="footer" class="container">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Team info</h3>
                            <ul class="style2">
                                <li><a href="#">고려대학교 블록체인학회</a></li>
                                <li><a href="#">전공자, 비전공자 구분 없는</a></li>
                                <li><a href="#">Proof of Study 방식의 DAO</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Notification</h3>
                            <ul class="style2">
                                <li><a href="#">이용약관</a></li>
                                <li><a href="#">이용안내</a></li>
                                <li><a href="#">개인정보처리방침</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Guide</h3>
                            <ul class="style2">
                                <li><a href="#">장학금 기부자를 위한 안내</a></li>
                                <li><a href="#">장학금 수여자를 위한 안내</a></li>
                                <li><a href="#">공통 안내 사항</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Contact -->
                        <section class="widget contact last">
                            <h3>Contact Us</h3>
                            <ul>
                                <li><a href="https://www.facebook.com/KOREAUBL/" class="icon fa-facebook"></a></li>
                                <li><a href="https://medium.com/kubl-research" class="icon fa-medium"></a></li>
                                <li><a href="https://steemit.com/@kublock"><img border="0" src="/images/icon_steemit.gif" width="40" height="40"></a></li>
                            </ul>
                            <p>kubl.dvlp@gmail.com</p>
                        </section>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="copyright">
                            <ul class="menu">
                                <li>Copyright &copy; 2018 <span style="font-weight:bold">KUBL</span> All rights reserved</li>
                                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



    <!-- Scripts -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

    <script>
        function init() {
            banner = document.getElementById("banner");
        }

        function banner3() {
            banner.src = "/images/banner03.png";
        }
    </script>


</body>

</html>
